<form method="post" action="{{ path('app_candidate_delete_formation', {'formation': formation.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
    <button class="btn btn-primary btn fw-bold text-uppercase my-5 mx-2 rounded-0">
    {% include 'icons/delete.svg' %}Supprimer</button>
</form>