{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <div class="pink-stripe">
        <h1 class="text-primary">
            
        </h1>
{% endblock %}
