{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary btn fw-bold boreder-radius-5 text-uppercase mt-3 px-3 rounded-10">{% include 'icons/save.svg' %}
	{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
