{% extends 'base.html.twig' %}

{% block title %}Éditer || Offre d'emploi
{% endblock %}

{% block body %}
	<section class="container">
		<h1 class="text-primary fw-bold text-uppercase d-flex justify-content-center my-5">Éditer une offre d'emploi</h1>
		{{ include('admin_jobOffer/_form.html.twig', {'button_label': 'Éditez'}) }}
		{{ include('admin_jobOffer/_delete_form.html.twig') }}

		<a class="btn btn-secondary btn fw-bold text-uppercase  px-3 rounded-10" href="{{ path('admin_jobOffer_index') }}">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-door-open-fill" viewbox="0 0 16 16">
				<path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
			</svg>
			Revenir à la liste des offres
		</a>
	{% endblock %}
