{% extends 'base-admin.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block body %}

<h1 class="text-primary fw-bold text-uppercase d-flex justify-content-center my-5">Gestion des contenus administrables</h1>

<h2 class="text-black fw-bold  d-flex text-center align-self-center justify-content-center my-5">Bienvenue sur votre espace administrateur, à partir de cet espace, vous pouvez gérer tous ce qui reflète la création, suppression et modification 
de vos biens.</h2>
<div class="d-flex justify-content-center">
<img src="{{ asset('build/images/admin.jpg')}}" class="d-none d-md-flex border border-primary mx-5 my-5">
</div>


{% endblock %}