{% extends 'base.html.twig' %}

{% block title %}Edit BusinessCard{% endblock %}

{% block body %}
    <h1>Edit BusinessCard</h1>

    {{ include('business_card/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_business_card_index') }}">back to list</a>

    {{ include('business_card/_delete_form.html.twig') }}
{% endblock %}
