{% extends 'base-admin.html.twig' %}

{% block title %}Nouveau || Consultant
{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="text-primary fw-bold text-uppercase d-flex justify-content-center my-5">Créer un nouveau consultant</h1>

        {{ include('consultant/_form.html.twig') }}

        <a class="btn btn-secondary btn fw-bold text-uppercase my-2 px-3 rounded-10" href="{{ path('app_consultant_index') }}">
        {% include 'icons/return.svg'%}
            Revenir à la liste</a>
    </section>
{% endblock %}

