.navbar-brand {
    margin-left: $spacing-nav;
    margin-right: $spacing-nav;
}

.nav-link {
 --bs-nav-link-color : $primary;
 color: var(--bs-nav-link-color);
 margin-right: $spacing-nav;
 margin-left: $spacing-nav;
}

.profil-nav {
    width: 30px;
    height: 30px;
}

.logo-nav {
    width: 250px;
    height: auto;
}

.logo-nav-res {
    width: 40px;
    height: auto;
}

nav {
    font-family: $font-family-base;
    font-weight: bold;
    font-size: 20px;
    color: $primary;
}

.navbar {
    --bs-navbar-toggler-border-color: none;
}

.nav-link:hover {
    border-bottom: 3px solid $primary;
    transition: all 0.3s;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28255, 32, 97, 1%29' stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}
