@import "variables";



body {
    background-image: url("../images/backgroundCardExternatic11.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 60%;
}

.scrollbar {
    height: 100vh;
    position: relative;
    padding: 20px 10px 20px 10px;
    overflow-y: auto;
}


h2 {
    font-weight: 900;
}

.btn {
    font-weight: 900;
    background-color: $dark-grey;
}

.btn:hover {
    background-color: $light-grey;
}

.card {
    background-color: $grey;
}

.form-label {
    color: $dark-grey;
    font-weight: bold;
    margin: 1rem;

}

.jobOfferForm>form {
    display: flex;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.form-select {
    border: solid 1px $dark;
    margin-inline: 3rem;
    width: 20rem;
    height: 2.5rem;
}

.form-control {
    border: solid 1px $dark;
    width: 20rem;
    height: 2.5rem;
}

.jobOfferForm>form>div {
    display: flex;
}

.search {
    background-color: $dark;
    width: 3rem;
    height: 2.5rem;
    margin-top: 2rem;
    border-radius: 8px;
}