@import "variables";

.ul {
    columns: 2;
    margin-left: 200px;
}

@media screen and (max-width:600px){
    .ul {
        columns: 1;
        margin-left: 0;
    }
}

img{
    width: 250px;
    height: 250px;
}