{% extends 'admin-template.html.twig' %}

{% block title %}Modifier || Entreprise{% endblock %}

{% block body %}
    <section class="container">
    <h1 class="text-primary fw-bold text-uppercase d-flex justify-content-center my-5">Modifier une entreprise</h1>

    {{ include('company/_form.html.twig', {'button_label': 'Valider'}) }}

    <a class="btn btn-secondary btn fw-bold text-uppercase  my-3 mx-2 rounded-0" href="{{ path('app_company_index') }}">
   {% include 'icons/return.svg' %}
    Retour à la liste</a>

    {{ include('company/_delete_form.html.twig') }}
    </section>
{% endblock %}
