{% extends 'base-admin.html.twig' %}

{% block title %}Index || Entreprises {% endblock %}

{% block body %}
<section class="container">
        <h1 class="text-primary fw-bold text-uppercase d-flex my-5">Les Entreprises</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">Nom</th>
                <th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">Lien</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td class="fs-5 fw-medium">{{ company.name }}</td>
                <td class="fs-5 fw-medium">{{ company.link }}</td>
                <td>
                    <a  href="{{ path('app_company_edit', {'id': company.id}) }}">
                    {% include 'icons/edit.svg' %}
                   </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune entreprise trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a <a class="btn btn-secondary btn fs-5 fw-bold text-uppercase my-3 px-3 rounded" href="{{ path('app_company_new') }}">
    Ajouter une nouvelle entreprise</a>
    </section>
{% endblock %}
