<form method="post" action="{{ path('jobOffer_apply', {'id': jobOffer.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('apply' ~ jobOffer.id) }}">
    {% if app.user.candidate %}
    <button class="bi btn btn-primary btn d-flex justify-content-center my-md-5 my-0 mb-5 fs-5 fw-bold text-uppercase px-3 w-100 rounded">
    Envoyer/Retirer ma candidature</button>
    {% endif %}
</form>