<form method="post" action="{{ path('jobOffer_favorites', {'id': jobOffer.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('favorite' ~ jobOffer.id) }}">
    <button class="btn btn-primary btn fw-bold text-uppercase my-5 mx-2 rounded-0">
    {% if app.user.candidate %}
    <i class="bi {{ app.user.candidate.isFavorite(jobOffer) ? 'bi-heart-fill' : 'bi-heart' }}"></i></button>
    {% endif %}
</form>
