<form method="post" action="{{ path('jobOffer_favorites', {'id': jobOffer.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('favorite' ~ jobOffer.id) }}">
    <button class="btn fw-bold text-uppercase mb-5 mt-0 mx-2 rounded-0">
    {% if app.user.candidate %}
    <i class="bi text-primary {{ app.user.candidate.isFavorite(jobOffer) ? 'bi-heart-fill' : 'bi-heart' }}"></i></button>
    {% endif %}
</form>
