{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
|| Offres postulées
{% endblock %}

{% block body %}
	<section class="container">

			<h1 class="fw-bold text-dark text-uppercase my-5">Avec
			<span class="text-primary">
				Externatic</span>,<br>
			Retrouvez les offres auxquelles vous avez postulé !</h1>

		<div class="row g-5 mb-5">
			{% for jobOffer in app.user.candidate.postulations %}
				{% include '/components/jobOffer-card.html.twig' %}
			{% else %}
				<p class="my-5 fw-bold text-primary fs-4">Vous n'avez postulé à aucune offre.</p>
			{% endfor %}
		</div>
    </section>
{% endblock %}
