<footer class="bg-primary container-fluid text-light p-5">
	<div class="d-flex justify-content-around row align-item-center px-md-5 px-0">
		<p class="col-md-2 mt-5 h5">
			<span class="fs-5 fw-medium ">
				<span class="fs-4 fw-bold ">
					Externatic, cabinet de recrutement informatique.</span>
				<br>
				<br>
				Externatic est un cabinet dédié au recrutement de profils d’experts, ingénieurs et managers dans le domaine de l’informatique.</span>
		</p>

		<div class="col-md-2 col-md d-flex-column mt-5 align-item-center">
			<h2 class="fs-4 fw-bold text-uppercase">Informations</h2>
			<ul class="list-unstyled">
				<li>
					<a class="text-light fs-5 fw-medium text-decoration-none" href="https://www.externatic.fr/metiers/">Fiches métiers</a>
				</li>
				<li>
					<a class="text-light fs-5 fw-medium text-decoration-none" href="https://www.externatic.fr/mentions-legales/">Mentions légales</a>
				</li>
				<li>
					<a class="text-light text-nowrap fs-5 fw-medium text-decoration-none" href="https://www.externatic.fr/politique-de-confidentialite/">Politique de confidentialité</a>
				</li>
				<li>
					<a class="text-light fs-5 fw-medium text-decoration-none" href="https://www.externatic.fr/politique-de-cookies/">Politique de cookies</a>
				</li>
				<li>
					<a class="text-light fs-5 fw-medium text-decoration-none" href="https://www.externatic.fr/sitemap_index.xml">Plan du site</a>
				</li>
			</ul>
		</div>

		<div class="col-md-2 d-flex-column mt-5 align-item-center">
			<h2 class="fs-4 fw-bold text-uppercase">Contact</h2>
			<ul class="list-unstyled">
				<li class="fs-5 fw-medium text-nowrap">Tél. +33 (0)2 85 52 26 33</li>
				<li class="fs-5 fw-medium text-nowrap">Mail : contact@externatic.fr</li>
				<li class="fs-5 fw-medium">Adresse : 1 rue Racine, 44000 NANTES, France</li>
			</ul>
		</div>

		<div class="col-md-2 d-flex-column mt-5 align-item-center">
			<h2 class="fs-4 fw-bold text-uppercase">Réseaux sociaux</h2>

			<ul class="d-flex list-unstyled">
				<li class="m-1">
					<a class="text-decoration-none" href="https://www.linkedin.com/company/externatic/?originalSubdomain=fr"><img src="{{ asset('build/images/linkedin.svg') }}" alt="logo linkedin"></a>
				</li>
				<li class="m-1">
					<a class="text-decoration-none" href="https://twitter.com/Externatic"><img src="{{ asset('build/images/twitter.svg') }}" alt="logo twitter"></a>
				</li>
				<li class="m-1">
					<a class="text-decoration-none text-light" href="https://www.instagram.com/externatic/"><img src="{{ asset('build/images/instagram.svg') }}" alt="logo instagram"></a>
				</li>
			</ul>
		</div>
	</div>
	<p class="d-flex justify-content-center mt-3">
		<a class="text-light fs-5 fw-medium mt-5 text-decoration-none" href="https://www.externatic.fr/">Externatic</a>
	</p>
</footer>
