{% extends 'base.html.twig' %}

{% block title %}Externatic || Erreur
{% endblock %}

{% block body %}
	<div class="container text-center">
		<h1 class="my-4">Page inaccessible</h1>
		<div class="d-flex justify-content-center">
			<p class="fs-4 text-center">
				Vous n'avez les droits nécessaires pour accéder à la page que vous cherchez.&nbsp;</p>
		</div>
		<a class="btn btn-primary my-4" href="{{ path('app_home') }}">Retour à la page d'accueil</a>
	</div>
	<div class="djif d-flex justify-content-center mt-5">
		<img class="Buster w-50 h-50" src="{{ asset('build/images/Holy_Grail_403.webp') }}" alt="I fart in your general direction"/>
	</div>

{% endblock %}
