{% extends 'base.html.twig' %}

{% block title %}Externatic || Erreur
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="d-flex justify-content-center mt-5">Page inaccessible</h1>

		<p class="d-flex justify-content-center fs-4 my-5">
			Vous n'avez les droits nécessaires pour accéder à la page que vous cherchez.&nbsp;
			<a class="button btn btn-primary" href="{{ path('app_home') }}">Retour à la page d'accueil</a>
		</p>
	</div>
    <div class="djif d-flex justify-content-center mt-5">
        <img class="Buster w-50 h-50" src="{{ asset('build/images/monty_grail.gif') }}" alt="Buster don't smile" />
    </div>

{% endblock %}