{% extends 'base.html.twig' %}

{% block title %}Externatic || Erreur
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="d-flex justify-content-center my-4">Erreur serveur interne</h1>

		<p class="d-flex justify-content-center fs-4">
			Le serveur ne peut pas exécuter la requête demandée.&nbsp;
			<a class="button btn btn-primary" href="{{ path('app_home') }}">Retour à la page d'accueil</a>
		</p>
	</div>
    <div class="djif d-flex justify-content-center mt-5">
        <img class="Buster w-50 h-50" src="{{ asset('build/images/Bernie_pelle.gif') }}" alt="Buster don't smile" />
    </div>

{% endblock %}