{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block navbar %}
	{% include 'components/_navbar.html.twig'%}
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row mt-5">
			<div class="col-md-3 col-sm-6">
				<img src={{ asset('build/images/profil.png') }} alt="Placeholder_cadidate" style="width:120px; height:100%">
			</div>
			<div class="col-md-9 col-sm-6">
				<h1 class="profil text-center">
					<span class="title text-primary fw-bolder text-uppercase fs-5 ml-md-5 mx-0 my-5">Profil</span>
					<span class="text-dark fw-bolder text-uppercase fs-5 md-5 mx-0 my-5">de l'utilisateur</span>
				</h1>
			</div>
		</div>
		<p class="mail mt-5">Votre email :
			<a href="email">{{ candidate.user.email }}</a>
		</p>
	</section>
	
{% endblock %}
