{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur
{% endblock %}

{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block navbar %}
	{% include 'components/_navbar.html.twig'%}
{% endblock %}

{% block body %}
	<section class="container">

		<h1 class="profil text-center mt-5 ">
            <span class="title text-primary fw-bolder text-uppercase fs-5 ml-md-5 mx-0 my-5">Profil </span><span class="text-dark fw-bolder text-uppercase fs-5 md-5 mx-0 my-5">de l'utilisateur</span>
        </h1>

		<p class="mail mt-5">Votre courriel : <a href="email">{{ candidate.user.email }}</a></p>
	</section>


{% endblock %}

{% block footer %}{% endblock %}
